* {
    padding: 0;
    margin: 0;
    user-select: none;
}

body {
    background-image: url(/imgs/il_fullxfull.2688503663_hz6m.webp);
    
}

#game-box {
    margin: auto;
    left: 200px;
    width: 500px;
    height: 200px;
    border: 1px solid black;
    background-image: url('https://c4.wallpaperflare.com/wallpaper/46/664/1017/bliss-windows-xp-minimalism-valley-wallpaper-preview.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#dinosaur {
    width: 70px;
    height: 50px;
    background-image: url(imgs/ImpureDrearyHippopotamus-max-1mb.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 150px;
}

/* make the dinosaur jump by adding class */
.animate{
    animation: jump 500ms;
}
@keyframes jump {
    0%{top:150px}
    30%{top:100px}
    70%{top:100px}
    100%{top:150px}
}

#cactus {
    width: 20px;
    height: 40px;
    background-image: url(imgs/cactus.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 110px;
    left: 480px;
    animation: cactus 1s infinite linear;
}
/* infinitely looped cactus */
@keyframes cactus {
    0%{left:480px;}
    100%{left:-10px}
}

#score {
    font-family: "Press Start 2P";
    position: relative;
    top: -12px;
}

#highscore {
    font-family: "Press Start 2P";
    position: relative;
    left: 709.5px;
    top: 5px;
}